.profilepic {
    border-radius: 50%;
}

body {
    height: 100%;
    background: url(../img/church_@2X.png) no-repeat center top;
    background-size: cover;
}
 .link-buttons {
     display: flex;
     justify-content: space-evenly;
     padding: .5rem 1rem;
     
 }
 .button-link {
     background-color: #18bc9c;
     border: none;
     font-weight: 800;
     width: 172px;
 }
 .button-link:hover {
    background-color: #18bc9c;
    color: #2c3e50;
 }

 .portfolio-card {
    border: 5px solid white;
    padding: 5px;
    box-shadow: 5px 5px 20px#b0b0b0;
 }

 .text-muted {
    margin-bottom: 0px;

 }
 .portfolio-caption {
     background-color: white;
     text-align: center;
     padding: 10px;
 }
 .caption-header-text {
     margin-bottom: 0px;
 }